:root{
    --primary-color: #e78b49cd;
    --secundary-color: #FFF;
    --third-color: #8a4d21;
    --fourth-color: #ff6a0033;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --icon-color: #f3f3f3;
}