.header-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

.header-topics{
    display: flex;
    gap: 4rem;
}

.topics-button{
    border-radius: 1rem;
    font-size: 1.2rem;
    height: 7vh;
    width: 10vw;
    color: var(--text-color-light);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.topics-button:hover{
    background-color: var(--third-color);
    transform: translateY(-10%);
}